

@mixin primary-style {
    color: rgb(44, 44, 44);
}

@mixin flex-style {
    display: flex;
    flex-direction: column;
    text-align: center;
}

@mixin widthHeight{
    width: 100vh;
    height: 100%;
}

@mixin boxColors{
    background-color: #C9E6F7;
    color: black;
}

@mixin paddingBox{
    padding: 30px 50px 20px 50px;
}

