/* @use "./variables" as v;

@use "./mixins" as m; skriv i style.scss!

@mixin for-size($size) {
  @if $size == tablet {
    @media screen and (min-width: v.$tablet) {
      @content;
    }
  }
  @if $size == desktop {
    @media screen and (min-width: v.$desktop) {
      @content;
    }
  }
}

@mixin forButton {
  background-color: $btncolor;
  border-radius: 12px;
  height: 2rem;
  padding: 0.5rem 2rem;
  border: 1px solid rgb(172, 172, 172);
  margin: 0.5rem 0.5rem;
}

@mixin hoverEffect {
  background-color: rgb(241, 213, 227);
  cursor: pointer;
} */

//För att använda
// @include m.for-size(tablet eller desktop){
//   HÄR ÄR DIN CSS FÖR STÖRRE SKÄRMSTORLEK
// }


/* Breakpoints */
/* $tablet: 768px;
$desktop: 1200px;
 */
/* Colors */
/* $btncolor: rgb(240, 196, 218);
$modalcolor: whitesmoke; */

/* Margins */

/* Borders */

/* Font sizes */

@mixin primary-style {
    color: rgb(44, 44, 44);
}

@mixin flex-style {
    display: flex;
    flex-direction: column;
    text-align: center;
}

@mixin widthHeight{
    width: 100vh;
    height: 100%;
}

@mixin boxColors{
    background-color: #C9E6F7;
    color: black;
}

@mixin paddingBox{
    padding: 30px 50px 20px 50px;
}

