@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@1,8..144,100&display=swap");
@import "mixinsandStuff";
@import "profilepic";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body,
html {
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
}

/* Heroimg info */

.header {
  position: relative;
  background-image: url("/img/Watercolor-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

.name-header {
  font-size: 1rem;
  margin-top: 150px;
  @include primary-style();
  letter-spacing: 0.1rem;
}

.name-title-2,
.name-title-3 {
  font-size: 3.5rem;
  font-weight: 550;
  font-family: 'Abril Fatface', serif;
  letter-spacing: 0.3rem;
}

.name-title {
  padding: 10px;
}

/* Contact in header */

.social-media-links {
  height: 60px;
  display: flex;
  gap: 10px;
  padding: 10px
}

.social-icons-linkedin-top,
.social-icons-github-top {
  img {
    height: 25px;
    width: 25px;
  }
}

.social-icons-github-top:hover,
.social-icons-linkedin-top:hover {
  opacity: 0.5;
  color: white;
  cursor: pointer;
}

/* Profile picture */

.profilepicContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.edgepicture {
  background: plum;
  width: 200px;
  height: 200px;
  border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
  overflow: hidden;
  animation: morph 6s linear infinite;
}

.edgepicture img {
  width: 100%;
}

@keyframes morph{
  0%, 100% {
  border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }
  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}

/* Navbar/Hamburgermeny */

li{
  list-style: none;
}

.nav-link{
  text-decoration: none;
  color: black;
}

.nav-bar{
  min-height: 70px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.nav-link{
  transition: 0.3s ease;
}

.nav-link:hover{
  color: gray; /* ändra färg sen? */
}

.hamburger{
  display: none;
  cursor: pointer;
  margin-left: 0.5rem;
}

.bar{
  display: block;
  background-color:black;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}



@media (max-width: 768px){
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    background-color: #C9E6F7; /* ändra sen */
    text-align: center;
    transition: 0.3s;
    }

    .nav-item{
      margin: 16px 0;
    }
    
    .nav-menu.active{
      left: 0;
    }
}
@media (min-width: 768px){
  .nav-bar{
    display: flex;
    justify-content: space-evenly;
  }
}


/* About me*/

#about-me {
  display:flex;
  align-items:flex-start;
  width: 100%;
  margin: 0 auto;
  font-size: 1.1rem;
  @include boxColors();
  @include primary-style();
  @include paddingBox();
}

.waving-icon {
  width: 25px;
}

/* Skills */

#skills-section {
  @include flex-style();
}

.skills-head{
  margin-top: 20px;
}

.skills{
  margin: 10px auto;
  width: 100%;
  @include boxColors();
}

.skills-content{
  display: flex;
  font-size: 1.3rem;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px 10px;
  @include paddingBox();
  @include primary-style();
}

@media (min-width: 768px){
  .skills-content{
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.cv-link{
  margin-bottom: 20px;
}


.skill-logo{
  width: 4rem;
  height: 4rem;
}

.cv-link {
  text-decoration: none;
  font-size: 1.1rem;
}

.cv-link:hover {
  color: gray;
  cursor: pointer;
}

.pen-icon {
  width: 2rem;
}

/* Projects */
.projects-head {
  @include flex-style();
  margin-top: 20px;
}

.project-content{
  display: flex;
  margin: 20px auto;
  padding: 20px;
  justify-content: space-between;
  @include boxColors();
  @include primary-style();
  @include flex-style();
}


.project-one, .project-two{
  display: flex;
  flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
  border: solid black 1px;
  >a{
    width: 100%;
  }
}

.project{
  height: 40%; 
  width: 40%; 
  border-radius: 10px;
}
.project-info{
  padding: 30px;
  background-color: white;
  width: 40%; 
}

/* Contact */

.contact-head {
  @include flex-style();
}

#section-contact {
  margin: 20px;
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-icons-linkedin-bottom:hover,
.social-icons-github-bottom:hover {
  opacity: 0.5;
  color: white;
  cursor: pointer;
}

/* footer */
footer {
  @include primary-style();
  @include flex-style();
}

/* FIXA! */
@media screen and (min-width: 768px) {
  .header {
    .social-media-links {
    //   left: 60px;
    //   width: 120%;
    }

    .profilepicContainer {
      display: flex;
      justify-content: flex-end;
      margin-right: 100px;
    }  

    .name-title {
      // right: 0; // Anpassa position för mindre skärmar
      text-align: center; 
    }
  }
}
